.food-item {
  width: 300px;
  height: auto;
  display: block;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  outline: 2px solid #faad96;
  margin-bottom: 30px;
  transition: 0.3s;
  animation: fadeIn 1s;
  background-color: rgba(255, 99, 71, 0.176);
}
.food-item:hover {
  transform: scale(1.1);
}
.dark .food-item {
  background-color: #222;
}
.food-item-image {
  width: 100px;
  height: auto;
  bottom: 160px;
  left: 95px;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  position: absolute;
  box-shadow: 0 20px 20px #faad96;
  border-radius: 50%;
}
.food-item-info {
  padding: 20px;
  margin-top: 20px;
}
.food-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.food-item-name-rating p {
  font-size: 20px;
  font-weight: 500;
}
.food-item-name-rating img {
  width: 70px;
}
.food-item-desc {
  color: #676767;
  font-size: 15px;
}
.food-item-price {
  color: tomato;
  font-size: 22px;
  font-weight: 500;
  margin-top: 10px;
}
.food-items-price-count {
  position: relative;
}
.food-items-price-count .add {
  width: 30px;
  position: absolute;
  bottom: 1px;
  right: 15px;
  cursor: pointer;
  border-radius: 50%;
}
.food-item-counter {
  position: absolute;
  bottom: -3px;
  right: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 50px;
  background-color: white;
}
.dark .food-item-counter {
  color: black;
}
.food-item-counter img {
  width: 23px;
  cursor: pointer;
}
