.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
  background-color: #f8f8f8; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar .logo {
  width: max(10%, 150px); 
  height: auto; 
}

.navbar .profile {
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  object-fit: cover; 
}

.navbar div {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.navbar div p {
  cursor: pointer; 
  display: flex;
  align-items: center;
  gap: 5px; 
  color: #333;
  font-weight: 500; 
  margin: 0;
  background-color:rgba(255, 99, 71, 0.319);
  padding: 10px;
  border-radius: 4px;
}
.navbar div p:hover{
  background-color: rgba(255, 99, 71, 0.398);
}

.navbar div p img {
  width: 20px; 
  height: 20px; 
}
